@import "tailwindcss";
@import "primeicons/primeicons.css";

#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Definição da biblioteca de cores*/

:root {
  --primary: #c92071;
  --secondary: #b5b6f2;
  --tertiary: #991956;
  --error: #ee4266;
  --success: #52ca76;
  --warning: #f6aa1c;

  --hover-primary: #a00e3c;
  --hover-secondary: #8a8abe;
  --hover-tertiary: #66133b;

  --dark-gray: #1f1f1f;
  --dark-gray-2: #474747;
  --dark-gray-3: #666666;
  --light-gray: #8f8f8f;
  --light-gray-2: #cccccc;
  --light-gray-3: #f5f5f5;
  --white: #ffffff;
}

/* Definição de classes */

.bg-primary {
  background-color: var(--primary);
}

.bg-secondary {
  background-color: var(--secondary);
}

.bg-tertiary {
  background-color: var(--tertiary);
}

.bg-error {
  background-color: var(--error);
}

.bg-success {
  background-color: var(--success);
}

.bg-warning {
  background-color: var(--warning);
}

.bg-dark-gray {
  background-color: var(--dark-gray);
}

.bg-dark-gray-2 {
  background-color: var(--dark-gray-2);
}

.bg-dark-gray-3 {
  background-color: var(--dark-gray-3);
}

.bg-light-gray {
  background-color: var(--light-gray);
}

.bg-light-gray-2 {
  background-color: var(--light-gray-2);
}

.bg-light-gray-3 {
  background-color: var(--light-gray-3);
}

.bg-white {
  background-color: var(--white);
}

.text-primary {
  color: var(--primary);
}

.text-secondary {
  color: var(--secondary);
}

.text-tertiary {
  color: var(--tertiary);
}

.text-error {
  color: var(--error);
}

.text-success {
  color: var(--success);
}

.text-warning {
  color: var(--warning);
}

.text-dark-gray {
  color: var(--dark-gray);
}

.text-dark-gray-2 {
  color: var(--dark-gray-2);
}

.text-dark-gray-3 {
  color: var(--dark-gray-3);
}

.text-light-gray {
  color: var(--light-gray);
}

.text-light-gray-2 {
  color: var(--light-gray-2);
}

.text-light-gray-3 {
  color: var(--light-gray-3);
}

.text-white {
  color: var(--white);
}

.focus\:outline-primary {
  &:focus {
    outline-color: var(--primary);
  }
}

.focus\:ring-primary {
  &:focus {
    --tw-ring-color: var(--primary);
  }
}

.border-primary {
  border-color: var(--primary);
}

.border-secondary {
  border-color: var(--secondary);
}

.border-tertiary {
  border-color: var(--tertiary);
}

.border-error {
  border-color: var(--error);
}

.border-success {
  border-color: var(--success);
}

.border-warning {
  border-color: var(--warning);
}

.border-dark-gray {
  border-color: var(--dark-gray);
}

.border-dark-gray-2 {
  border-color: var(--dark-gray-2);
}

.border-dark-gray-3 {
  border-color: var(--dark-gray-3);
}

.border-light-gray {
  border-color: var(--light-gray);
}

.border-light-gray-2 {
  border-color: var(--light-gray-2);
}

.border-light-gray-3 {
  border-color: var(--light-gray-3);
}

.border-white {
  border-color: var(--white);
}

/* Estilos sobrescritos ao tailwind */

div > i:hover {
  color: var(--primary);
  cursor: pointer;
}

a {
  font-size: 1rem;
  cursor: pointer;
  transition: 200ms;
}

a.underline:hover {
  color: var(--primary);
  cursor: pointer;
}

a.rounded-md:hover {
  background-color: var(--tertiary);
}
